a {
    text-decoration : none;
}

.header {
    color : white;
    position : fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 150px;
    border-bottom : 1px solid white;
    z-index: 9999;
}

.left-col, .right-col {
    width: 30%;
}

.left-col, .right-col {
    
    p, a {
        font-size : 1.5rem;
    }
}

.brand-col {
    letter-spacing : 0.5rem;
    width: 40%;
}

.brand-col p {
    font-size : 3rem;
}
.brand-col img {
    width: 100px;
}

.hero-section img {
    width: 100%;
}



/* Modifiche pagina dettagli (Geani) */
.no-promo{
    text-decoration: line-through;
    color: red;
    font-weight: bold;   
}

.promo{
    color: green;
    font-weight: bold;
}

.margin-top{
    margin-top: 150px;
}

main{
    background-color: #fff;
}

.body{
    background-color: black;
}